# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
    
    1.Python
    2.SQL
    3.R
    4.Java
    5.Scala

Some of the commonly used libraries used by Data Scientists include:
    
    1.Pandas
    2.Numpy
    3.Scipy
    4.Matplotlib
    5.Scikit-Learn
    6.TensorFlow
    7.Keras

Data Science Tools

|Data Science Tools |
| -------------|
| Jupyter | 
| SAS |
| Apache Spark|
| Big ML|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# airthematic operation
a=1.3+3
print(a)

4.3

In [5]:
a=3
b=4
add=a+b
sub=a-b
mul=a*b
div=a/b
print(add)
print(sub)
print(mul)
print(div)

7
-1
12
0.75

In [7]:
#This a simple arithmetic expression to mutiply then add integers.
a=(3*4)+5
print(a)

17

In [8]:
# This will convert 200 minutes to hours by diving by 60.

minutes = 200
hours = minutes / 60
print("200 minutes is equal to", hours, "hours")

200 minutes is equal to 3.3333333333333335 hours

**Objectives:**
- List of popular languages used in Data Scientists.
- List commonly used libraries in Data Scientists.
- How to use Comment in Data Science tools.

## Author ##

Lakshmi Holla